/*-----------------------------------*\
#CALENDAR
\*-----------------------------------*/
.calendar-section {
  background-color: var(--black-semi);
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem 1rem;
}

#calendar {
  max-width: 100%;
  margin: 0 auto;
}

.fc {
  background-color: var(--backgr-blue);
  color: var(--white);
}

.fc-button {
  background-color: var(--goldenstrong);
  border: none;
  color: var(--black);
}

.fc-button:hover {
  background-color: var(--golden);
  color: var(--black);
}

.fc-toolbar-title {
  color: var(--white);
}

.fc-daygrid-event {
  background-color: var(--purple);
  border: none;
}

.fc-daygrid-event:hover {
  background-color: var(--golden);
  color: var(--black);
}

.fc-daygrid-day {
  background-color: var(--backgr-blue);
  border: 1px solid var(--white);
}

.fc-day-today {
  background-color: var(--purple);
}