.card {
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: var(--black);
}

.card-detail {
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    max-width: 800px;
    width: 100%;
    margin-top: 10rem;
}

.card-detail img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}

.card-detail div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-detail h1 {
    margin: 0 0 0.75rem;
    font-size: 2rem;
}

.card-detail p {
    margin: 5px 0;
    font-size: 1.2rem;
    color: var(--black);
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
}
.card {
    flex: 1 1 calc(16.66% - 20px); /* Adjust for 6 cards per row and the margin */
    box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(33.33% - 20px); /* 3 cards per row on tablets */
    }
    .card-detail {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* 2 cards per row on mobile */
    }

    .card-detail h1 {
        font-size: 1.5rem;
    }

    .card-detail p {
        font-size: 1rem;
    }
}

/* Accordion styles */
.accordion {
    background-color: var(--backgr-blue);
    color: var(--white);
    cursor: pointer;
    padding: 0.95rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-top: 0.9rem;
    position: relative;
}

.accordion:hover {
    background-color: var(--backgr-blue);
}

.accordion:after {
    content: "+";
    color: var(--white);
    font-weight: bold;
    position: absolute;
    right: 1.25rem;
}

.accordion.active:after {
    content: "−";
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    background-color: white;
    padding: 0 0.9rem;
    display: none;
}

.panel.show {
    display: block;
    max-height: 500px;
    padding: 0.9rem;
}