
.download-img{
    width: 25rem;
    aspect-ratio: 1/1;;
    background-image: url("../img/saint.webp");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}