.footer-reseaux {
    background-color: var(--black);
    color: white;
    padding: 1.25rem 0;
    text-align: center;
}
.footer-reseaux__ico{
    width: 2rem;
    height: 2rem;
}
.footer-reseaux__link{
    margin: 0 2rem;
    color: white;
    text-decoration: none;
}