.error-message {
    color: var(--red);
    background-color: var(--ligth-pink);
    border: 1px solid var(--red);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}
.success-message{
    color: #fff;
    background-color: var(--golden);
    border: 1px solid var(--white);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    width:60%;
}
.success {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}

.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}