.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  background-color: var(--black-semi);
  height: 4rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#navbar > i{
  width: 36px;
  height: 88px;
  background: url("../img/nav-i.png");
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .navbar {
    position: absolute;
    background-size: 100%;
    background-position: center;
    background-image: url("../img/znav-bg.webp");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width: 100%;
    height: 5.5rem;
    padding-top: 1.25rem;
    top: 60px;
    text-align: center;
    white-space: nowrap;
    z-index: 100;
    transition: padding ease .3s;
  }

  p {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  .title__margin {
    margin-top: 14rem;
  }

  .title__margin--register {
    margin-top: 12rem;
  }
}

.navbar-container {
  display: flex;
  justify-content: center;
  height: 4rem;
  align-items: center;
  margin-top: .5rem;
}


.menu-items {
  display: flex;
  gap: 2rem;
  list-style: none;
  right: 0;
  margin: 0;
  padding: 0;
}

.menu-items li {
  list-style: none;
  margin: 0;
}

.menu-items a {
  color: var(--aqua);
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.menu-items a:hover {
  color: var(--purple);
  background-color: rgba(255, 255, 255, 0.1);
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 25%;
  background-color: var(--black-semi);
  padding: 2rem;
  z-index: 100;
}

.menu-items li:hover .submenu {
  display: block;
}

.menu__choose {
  display: flex;
  flex-direction: column;
}

.menu__choose--select a {
  color: var(--white);
}

.logo {
  order: 1;
  font-size: 2.3rem;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 4rem;
    width: 100%;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 2rem;
    width: 1.8rem;
    top: 2.3rem;
    right: 0;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--goldenstrong);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding: 2rem 0;
    background: var(--backgr-blue);
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: -40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    width: 20rem;
  }

  .navbar .menu-items li {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .back-hed {
    background-image: url("../img/backathena.webp");
    background-repeat: no-repeat;
    height: 60rem;
    background-size: cover;
    background-position: center 5%;
  }

  .navbar-container__back-video {
    left: 0;
    top: 0;
    height: 100%;
    position: relative;
  }
}