.news-list {
    padding-bottom: 80px;
    min-height: 500px;
}
.news-point {
    display: block;
    position: relative;
    padding: 56px 36px 52px 186px;
    border-bottom: 1px solid #fff;
}
.news-point a {
    text-decoration: none;
}
.news-point a::after {
    content: '';
    background: none;
}
.news-title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-pc {
    font-size: 18px;
    line-height: 28px;
    height: 56px;
    color: #bbb;
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.news-time {
    font-size: 1rem;
    color: #7b7b7b;
    margin-top: 26px;
}
