.taken, .taken_free {
    display: inline-block;   
    border-radius: 2rem;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    vertical-align: middle;
}

.taken {
    background-color: red;
    border: 3px solid black;
}

.taken_free {
    background-color: green;
    border: 3px solid black;
}