@import 'partials/raz';
@import 'partials/base';
@import 'partials/buttons';
@import 'partials/cards';
@import 'partials/form';
@import 'partials/accordion';
@import 'partials/navbar';
@import 'partials/divin';
@import 'partials/video';
@import 'partials/calendar';
@import 'partials/register';
@import 'partials/carousel';
@import 'partials/footer';
@import 'partials/servertime';
@import 'partials/download';
@import 'partials/news';
@import 'partials/events';
@import 'partials/forum';